@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: "cappromax";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(13% 0.028 261.692);
  --color-base-200: oklch(21% 0.034 264.665);
  --color-base-300: oklch(27% 0.033 256.848);
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: #D62839;
  --color-primary-content: #CCE6F4;
  --color-secondary: #273043;
  --color-secondary-content: #CCE6F4;
  --color-accent: #BA324F;
  --color-accent-content: oklch(12% 0.042 264.695);
  --color-neutral: #CCE6F4;
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}


/* Define the theme application */
@theme {
  /* Color */
  --color-orange-500: #f57c3b;
  --color-white-500: #e0fbfc;
  --color-beige-500: #f0ebd8;
  --color-dark-500: #0d1321;
  --color-gray-500: #1b263b;

  /* Font */
  --font-roboto: "Roboto", sans-serif;
}

/* GLobal */
#app {
  @apply font-roboto;
}

/* Utilities */

.flex-center {
  @apply flex justify-center items-center;
}

.link {
  @apply text-primary;
}

button {
  cursor: pointer
}